/* Core Styles */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

/* Header */

#showcase {
    min-height: 817px;
    color: #fff;
    text-align: center;
}

#showcase .bg-image {
    position: absolute;
    background: #333 url('img/Header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 817px;
    z-index: -1;
}

#showcase h1 {
    padding-top: 100px;
    padding-bottom: 0;
}

#showcase .content-wrap, #section-a .content-wrap {
    padding: 0 1.5em;
}

/* main*/

#main {
    padding: 2em 2em 1em;
}

/* Section A */

#section-a {
    background: #fff;
    color: #95989A;
}

#section-a h2 {
    color: #DA291C;
}

/* Section B */

#section-b {}

#section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-b li {
    margin-bottom: 1em;
    background: #fff;
}

/* section C */

#section-c .box-a .bg-image {
    position: relative;
    background: #333 url('img/Right Side.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
}

#section-c .box-b {
    background-color: #DA291C;
    color: white;
}

/* section D*/

#section-d ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#section-d li {
    position: relative;
    padding: 0;
    background-color: #1CCDDA;
    color: #fff;
}

#section-d .bg-image {
    position: absolute;
    background-image: url("img/Diamond Shape.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/*section E*/

#section-e .subsribe {
    background: #D0D0D0;
    color: #95989A;
}

#section-e .a {
    background-color: #3B5998;
}

#section-e .b{
    background-color: #1DA1F3;
}

/* Footer */

#main-footer {
    padding: 2em;
    color: #DA291C;
    text-align: center;
}

/*Media Queries*/

@media(min-width: 700px) {
    #section-a {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }
    .content-wrap {
        grid-column: 2/4;
    }
    #section-b ul {
        display: flex;
    }
    #section-b li {
        width: 25%;
    }
    #section-c {
        display: flex;
    }
    #section-c .box-a, .box-b {
        width: 50%;
    }
    #section-d ul {
        display: flex;
    }
    #section-d li {
        width: 20%;
    }
    #section-e{
        display: flex;
    }
    #section-e>div{
        width: 50%
    }
}
